.login,
.register,
.forgot-password {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;

  .form {
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0 0 0 / 32%);
    border-radius: 4px;
    width: 348px;

    &.loading {
      box-shadow: none;
    }

    h1 {
      margin-bottom: 24px;
      color: var(--primary);
    }

    a {
      text-decoration: underline;

      &:hover {
        color: var(--primary);
      }
    }

    .submit {
      margin-top: 24px;
      float: right;
    }

    .error {
      color: red;
      font-size: 1.2rem;
      margin-top: 24px;
    }
  }
}
